.App {
  /* text-align: center; */
  min-height: 600px;
  margin: 0 auto;
  background: ffff;
}
nav {
  display: flex;
  font-size: 20px;
  line-height: 33px;
  gap: 20px;
}
nav >div:hover {
  color: aqua;
  cursor: pointer;
}

.title {
  font-size: 35px;
  line-height: 33px;
  font-weight: 700;
}